---
import Layout from '../layouts/Layout.astro';
import CtaButton from '../components/CtaButton.astro';
---

<Layout title="Pawprint Photography" headerShadow={true}>
  <main>
      <div class="wrapper">
        <section class="summary">
          <h1>Picture perfect pets of all kinds</h1>
          <h2>Pet-focused photography starring your animal companions</h2>
          <p>If you're looking for the perfect photographers to help you preserve special memories forever, you just found them. We have tremendous passion for helping pet owners commemorate their precious companions with the highest quality photography money can buy.</p>
        </section>
      </div>
      <div class="wrapper">
        <section class="container story">
          <img src="/pet-photography-site/images/story.png">
          <div class="story-text">
            <h2>Our Story</h2>
            <p>We are a family-owned small business with a lot of love for animals. As lifelong pet owners, we understand how strong and important the bonds between humans and their furry companions can be. As photographers, we understand that pictures have the power to instantly bring back vivid memories. That inspired us to combine our passions and help others cherish those moments with their pets forever through our work.</p>
          </div>
        </section>
      </div>
      <div class="cta-wrapper">
        <section class="cta">
          <h2>Capture your memories with us today!</h2>
          <CtaButton></CtaButton>
        </section>
      </div>
      <div class="wrapper">
        <section class="container mission">
          <img src="/pet-photography-site/images/mission.png">
          <div class="mission-text">
            <h2>Our Mission</h2>
            <p>Our goal is to help you create beautiful memories with your pets and revisit them with our skillful photography. Pictures of our happy pets can improve our mood, comfort us when we're missing them, and hold a special place in our heart as precious keepsakes. We work to ensure that the photos you have of your pets show off their special personalities while looking visually and aesthetically pleasing.</p>
          </div>
        </section>
      </div>
  </main>
</Layout>

<style>
  section h1 {
    font-size: 2rem;
  }
  main {
    padding: var(--padding-large) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper {
    padding: var(--padding-large);
  }
  .summary, .container {
    width: 100%;
    max-width: 1000px;
  }
  .summary h1, h2 {
    text-align: center;
  }
  .summary p {
    text-align: center;
    margin-top: 1rem;
  }
  .container {
    border: 1px solid var(--orange);
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 20%);
    display: flex;
    gap: 0.5rem;
  }
  .story-text, .mission-text{
    padding: var(--padding-small);
  }
  .story img {
    border-radius: 10px 0 0 10px;
    width: 50%;
    height: auto;
  }
  .mission img {
    border-radius: 0 10px 10px 0;
    width: 50%;
    height: auto;
  }
  .cta-wrapper {
    width: 100%;
    padding: var(--padding-large) 0;
  }
  .cta {
    padding: var(--padding-large);
    background-color: var(--dark-green);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    align-items: center;
    color: white;
  }
  .mission {
    flex-direction: row-reverse;
  }
  @media(max-width: 800px) {
    .container {
      border-width: 2px;
      flex-direction: column;
      align-items: center;
    }
    .mission img, .story img {
      width: 100%;
      border-radius: 0;
    }
  }
  @media(max-width: 400px) {
    main {
      padding: var(--padding-small) 0;
    }
    .wrapper {
      padding: var(--padding-medium) 0;
    }
    .cta-wrapper {
      padding: var(--padding-small) 0;
    }
    .cta {
      padding: var(--padding-small);
    }
    .container {
      padding: 0 var(--padding-medium);
      border: none;
      box-shadow: none;
    }
    .container h2 {
      color: var(--orange);
    }
    .story-text, .mission-text {
      padding: 0;
    }
    .summary {
      padding: 0 var(--padding-medium);
    }
    .summary h2 {
      display: none;
    }
  }
</style>