---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pawprint Photography" headerShadow={true}>
  <main>
    <div class="div">
      <div class="wrapper">
        <div class="summary">
          <h1>Picture perfect pets of all kinds</h1>
          <h2>Pet-focused photography starring your animal companions</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat dictum auctor. Sed sed euismod sapien. Donec ut blandit ligula, vel viverra nisi. Sed luctus tellus vitae sodales ultrices. Duis ultrices pretium mauris, vel tincidunt metus accumsan quis.Quisque erat risus, elementum ac mattis eu, ornare vel mauris. In ut purus sit amet magna pharetra mollis ac sodales neque. Etiam faucibus erat et velit ultrices vestibulum. Donec id urna risus. Ut eget odio egestas, dictum leo sed, ornare ex.</p>
        </div>
      </div>
      <div class="wrapper">
        <div class="container story">
          <img src="/pet-photography-site/story.png">
          <div class="story-text">
            <h2>Our Story</h2>
            <p>Nulla eleifend aliquet augue et lobortis. Sed tempus tincidunt maximus. Maecenas sapien magna, rhoncus quis turpis lobortis, euismod molestie neque. Cras fermentum, tortor id rhoncus dapibus, purus lorem pretium diam, sit amet aliquam turpis diam quis orci. Pellentesque vehicula ultrices urna, eu vehicula mi.</p>
          </div>
        </div>
      </div>
      <div class="cta-wrapper">
        <div class="cta">
          <p>Capture your memories with us today!</p>
          <a class="cta-link" href="/pet-photography-site/">Contact Us</a>
        </div>
      </div>
      <div class="wrapper">
        <div class="container mission">
          <img src="/pet-photography-site/mission.png">
          <div class="mission-text">
            <h2>Our Mission</h2>
            <p>Nulla eleifend aliquet augue et lobortis. Sed tempus tincidunt maximus. Maecenas sapien magna, rhoncus quis turpis lobortis, euismod molestie neque. Cras fermentum, tortor id rhoncus dapibus, purus lorem pretium diam, sit amet aliquam turpis diam quis orci. Pellentesque vehicula ultrices urna, eu vehicula mi.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .div {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper {
    padding: 2rem;
  }
  .summary, .container {
    width: 100%;
    max-width: 1000px;
  }
  .summary h1, h2 {
    text-align: center;
  }
  .summary p {
    margin-top: 1rem;
  }
  .container {
    border: 1px solid var(--orange);
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 20%);
    display: flex;
    gap: 1rem;
  }
  .story-text, .mission-text{
    padding: 1rem;
  }
  .story img {
    border-radius: 10px 0 0 10px;
    width: 50%;
    height: auto;
  }
  .mission img {
    border-radius: 0 10px 10px 0;
    width: 50%;
    height: auto;
  }
  .cta-wrapper {
    width: 100%;
    padding: 2rem 0;
  }
  .cta {
    padding: 2rem;
    background-color: var(--dark-green);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    color: white;
  }
  .cta-link {
    padding: 0.5rem 1rem;
    background-color: var(--orange);
    border-radius: 1rem;
    text-decoration: none;
    color: white;
  }
  .mission {
    flex-direction: row-reverse;
  }
  @media(max-width: 800px) {
    .container {
      flex-direction: column;
      align-items: center;
      padding: 2rem;
    }
    .mission img, .story img {
      width: 100%;
      max-width:500px;
      border-radius: 0;
    }
  }
  @media(max-width: 400px) {
    .div {
      padding: 1rem 0;
    }
    .wrapper {
      padding: 1rem 0;
    }
    .cta-wrapper {
      padding: 1rem 0;
    }
    .cta {
      padding: 1rem;
    }
    .container {
      padding: 0 1rem;
      border: none;
      box-shadow: none;
    }
    .story-text, .mission-text {
      padding: 0;
    }
    .summary {
      padding: 0 1rem;
    }
  }
</style>