---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout title="Pawprint Photography" headerShadow={false}>
	<main>
    <h1>Gallery</h1>
    <div class="gallery">
      <img src="/pet-photography-site/04n5wP8_d.jpg"/>
      <img src="/pet-photography-site/5q1hSTL.jpg">
      <img src="/pet-photography-site/animal-7220153_1920.jpg">
      <img src="/pet-photography-site/bordeaux-mastiff-7170006_1920.jpg">
      <img src="/pet-photography-site/cat-2083492_1920.jpg">
      <img src="/pet-photography-site/cat-2605502_1920.jpg">
      <img src="/pet-photography-site/cat-7956026_1920.jpg">
      <img src="/pet-photography-site/dog-644111_1920.jpg">
      <img src="/pet-photography-site/dog-1868871_1920.jpg">
      <img src="/pet-photography-site/dog-3102469_1920.jpg">
      <img src="/pet-photography-site/dog-6977210_1920.jpg">
      <img src="/pet-photography-site/european-shorthair-8601492_1920.jpg">
      <img src="/pet-photography-site/finnish-lapphund-8355621_1920.jpg">
      <img src="/pet-photography-site/hamster-3604592_1920.jpg">
      <img src="/pet-photography-site/t1S6ABe_d.jpg">
    </div>
	</main>
</Layout>

<style>
  h1 {
    color: var(--orange);
    text-align: center;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0;
    margin-bottom: 10px;
  }

  .gallery {
    column-count: 4;
    column-gap: 10px;
    margin-block: var(--padding-large)
  }

  @media (max-width: 1200px) {
    .gallery {
      column-count: 3;
    }
  }

  @media (max-width: 800px) {
    .gallery {
      column-count: 2;
    }
  }

  @media (max-width: 400px) {
    .gallery {
      column-count: 1;
    }
  }

</style>

